@model LegoStore.Models.ProductListViewModel

@using LegoStore.HtmlHelpers
<h3>Dla realizacji zamówienia potrzebno zalogować się</h3>

@foreach (var p in Model.Products)
{
    @Html.Partial("Products_summery", p)
}
<!--Own helper that connected on the top of the file.-->
<div class="float-right" style="margin-bottom: 5px;">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", "Home", new { productPage = x }))
</div>

